<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAllowsLocalNetworking</key>
	<true/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>swmpc needs to access your local network to connect to MPD servers.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_mpd._tcp</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSSiriUsageDescription</key>
	<string>Use Siri to control music playback and get information about currently playing songs.</string>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>mpd</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>em pee dee</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>music player daemon</string>
		</dict>
	</array>
</dict>
</plist>
