<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.camille.swmpc</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swmpc</string>
			</array>
		</dict>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>mpd</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>em pee dee</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>music player daemon</string>
		</dict>
	</array>
	<key>NSAllowsLocalNetworking</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_mpd._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
